
* {
  padding: .34em;
  margin: auto;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.charity-logo {
  width: 10em;
justify-content: center;
flex-shrink: 1;
}

header h1 {
  font-size: 2em;
  text-align: flex-end;
  padding-top: .5em;
}

.donate-button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.4em;
  background-color: rgb(0, 14, 209);
  margin-top: 2em;
  border-style: double;
  border-radius: 10px 20px 20px 20px;
  text-align: center;
  margin-bottom: 3%;
  justify-content: flex-end;
  text-align: center;
}

.donate-button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(0, 14, 209);
  padding: 0;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  position: fill;
  font-size: 1.5em;
  border: .1em solid black;
}

.navbar-link {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  align-items: stretch;
  padding: .5em;
  background-color: rgb(0, 14, 209);
  color: white;
}

.navbar-link:hover, .navbar-link:focus {
  background-color: rgb(94, 131, 255);
}



.jumbotron {
  width: 100%;
  height: 50vh;
  background-image: url("images/ct_care_bags.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-size:2em ;
  color: white;
  padding-top: 10em;
  text-shadow: 2px 2px 4px #000000;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  margin: 0;
  position: fill;
  font-size: 1.5em;
  background-color: gray;
  font-size: 2em;
}

.more {
  height: 50vh;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.dono {
  height: 50vh;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.contact {
  height: 50vh;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.projects {
  text-align: center;
  padding-top: 3em;
  font-size: 1.5em;
  padding-bottom: 3em;
}

.projects p {
  width: 50%;
}

.social {
  width: 100px;
}

footer {
  display: flex
}

.footer {
  background-color: gray;
}
.middle {
  justify-content: center;
  text-align: center;
}

.ranken {
  width: 30px;
}

.right {
  text-align: center;
  width:auto;
}

@media only screen and (max-width:720px) {
.navbar {
  display: flex;
  flex-direction: column;
}

}