


#addRecord {
  margin-top: 2em;
  border-radius: 60%;
  box-shadow: 5px 5px 5px 5px #5E239D;
  border: thin solid black;
  padding: 5em;
  background-color: #8B9EB7;
  color: #8B9EB7;
  text-shadow:  1.5px 1.5px black;
}

li {
  color: blue;
}

.addRecords {
  background-image: url('./addBackground.jpg');
  background-size: cover;
  background-position: center;
}
.card {
  background-color: black;
}

.list-group-item {
  background-color: #8B9EB7;
  color: #1F271B;
}