
table {
  border: 1px solid black;
  border-collapse: collapse; }
th, td {
  border: 1px solid black;
  padding: .2em .7em;
  text-align: left; }
th.left, td.left { text-align: right; }
thead, tfoot, .yellow { background-color: rgb(251, 255, 0); }
.foot { font-weight: bold;
text-align: right; }
.white { background-color: white;}